
.meniu-background {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
  ),url("https://i.pinimg.com/1200x/3d/f4/0c/3df40cae327bf1a0d3b406acc5d60054.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.meniu-titlu {
  color: #edca9d;
  font-size: 5rem;
  font-family: "Priestacy", cursive;
  font-style: italic;
  letter-spacing: 2px;
  margin-top: 50px;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 1.6);
}

.meniu-butoane {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dulap-titlu{
  color: #edca9d;
  font-size: 3rem;
  font-family: "Priestacy", cursive;
  font-style: italic;
  letter-spacing: 5px;
  margin-top: 50px;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 1.3);
  gap: 20px;

}